.color {
		background-color: black;
		color: white;
}
.text-color {
		color: goldenrod;
}
.nav {
		border-bottom: 1.5px solid #484848;
		height: 33px;
		font-size: 20px;
}
.size {
		border-bottom: 3px solid #daa520;
		height: 70px;
		font-size: 50px;
}
div {
		width: 1150px;
		padding-left: 150px;
		margin-top: 85px;
}
table {
		table-layout: fixed;
}
tr, td {
		vertical-align: top;
}
.td1 {
		width: 40%;
}
.td2 {
		width: 6%;
}
.td3 {
		width: 40%;
}
a.one:link {color:goldenrod;}
a.one:visited {color:darkgoldenrod;}
a.one:hover {color:gold;}
